<div class="content-container">
    <div class="content-banner-container">
        <div class="content-bannerImage-container"></div>
        <div class="content-text-section">
            <h1 class="primary-heading">Seu site bem posiconado no meio digital com a flash.</h1>
            <p class="primary-text">
                Alcance muito mais clientes e lucratividade para o seu negócio
                através de um site profissional feito pela flashsoluçoestech.
            </p>
            <button class="secondary-button">
                <a href={{urlWhatsApp}} target='_blank'>Fale no whatsapp</a>
            </button>
            <p class="primary-text">
                Temos a solução ideal para você com menor custo,
                desde a criação de uma Landing Page até um Site Corporativo ou E-commerce.
            </p>
        </div>
        <div class="content-image-section">
            <div class="content-primary-image">
                <img src="assets/img/banner.png" alt="flash" />
            </div>
        </div>
    </div>
</div>
