.content-banner-container {
    position: relative;
    display: flex;
    padding-top: 4rem;
}

.content-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -150px;
    z-index: -2;
    max-width: 100%;
}

.content-image-section {
    flex: 1;
    display: flex;
}

.content-primary-image img {
    width: 750px;
    height: 640px;
    object-fit: cover;
    margin-left: 80px;
}

.content-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
   
.secondary-button a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 950px) {
    .content-banner-container {
        position: relative;
        display: block;
        padding-top: 4rem;
    }

    .content-bannerImage-container {
        position: absolute;
        top: -100px;
        right: -150px;
        z-index: -2;
        max-width: 100%;
    }
    
    .content-image-section {
        flex: 1;
        display: table;
        margin: 0px auto;
        justify-self: center;
    }
    .content-primary-image img {
        width: 360px;
        height: 400px;
        object-fit: cover;
        margin-left: 0px;
    }
    
    .content-text-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .secondary-button a {
        color: black;
        text-decoration: none;
    }
}
