<div class="about-section-container">
    <div class="about-background-image-container">
      <img src="assets/img/imagem_google.png" alt="site bem posicionado" />
    </div>
    <div class="about-section-text-container">
      <p class="primary-subheading">Sobre Nós</p>
      <h1 class="primary-heading">
        Especialistas em presença digital na internet.
      </h1>
      <p class="primary-text">
        A flashsoluçoestech é um studio especializado em criação
        de Sites Corporativos, E-commerce e Landing Pages.
        Nosso objetivo é ajudar você a alavancar sua presença na internet
        com eficiência e com o foco em converter mais clientes para seu negócio.
      </p>
      <p class="primary-text">
        Nosso diferencial esta na forma que atendemos nossos clientes, 
        sempre estamos dispostos a entender sua necessidade, 
        de forma que você fique satisfieito com o resultado final do seu projeto.
      </p>
      <div class="about-button-container">
        <!--<button class="secondary-button">Leia Mais</button>
        <button class="watch-video-button">
            Assista nosso video
        </button>-->
      </div>
    </div>
    
</div>
