h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}
p {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  margin: 10px 0;
}

h2 {
  font-family: "Verdana", sans-serif;
  font-size: 28px;
  color: #000000;
  text-align: left;
  margin: 15px 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

ul {
  margin-left: 3rem;
}