<div class="app">
  <h1>TERMOS E CONDIÇÕES DE USO DO SITE</h1>

  <p>
    1. Este Termo se refere ao(a) Flash Soluções Tech. Ao navegar neste site e
    usar os serviços que são fornecidos, você AFIRMA que LEU, COMPREENDEU
    CONCORDA com nossos Termos e Condições. Estes Termos e Condições abrangem
    todos os aplicativos, serviços de Internet ou extensões dos sites
    relacionados. Caso você não concorde ou não tenha ficado claro algum ponto,
    sugere-se que você NÃO NAVEGUE MAIS NELE até que você tenha sanado todas as
    suas dúvidas. Você poderá ainda, a qualquer tempo, retornar ao site, clicar
    em termos de uso e reler quantas vezes desejar Termos e Condições
  </p>

  <p>
    2. Os Termos e Condições de Flash Soluções Tech regem o uso deste Site e
    todo o seu conteúdo ("Site"). Estes Termos descrevem as regras e
    regulamentos que orientam o uso de Flash Soluções Tech localizado pelo link
    URL flashsolucoes.com.br Todos os materiais informações/documentos serviços
    ou todas as outras entidades (coletivamente referidas como "conteudo") que
    aparecem em flashsolucoes.com.br serão administrados de acordo com estes
    Termos e Condições ATENÇÃO: Não continue a usar site se você tiver qualquer
    objeção a qualquer uma das disposições dos Termos e Condições declarados
    nesta página.
  </p>

  <p>
    3. O site é destinado a usuários com 18 (dezoito) anos de idade ou mais. Se
    você tem menos de 18 (dezoito) anos, não poderá usar ou registrar-se para
    usar este site ou seus serviços sem a permissão ou consentimento dos pais.
    Ao concordar com estes Termos e Condições, você tem a capacidade legal
    necessária para cumprir e ficar vinculado por estes Termos e Condições.
  </p>

  <p>
    4. Flash Soluções Tech faz uso de cookies. An acessar nosso site, você
    concorda em usar cookies nos termos da nossa Politica de Cookies.
    Salienta-se que algum dos nossos parceiros de site podem usar cookies.
  </p>

  <p>
    5. Flash Soluções Tech detém os direitos de propriedade intelectual de todo
    o conteúdo. Todos os direitos de propriedade intelectual são reservados.
    Você pode acessar qualquer conteúdo do site para uso pessoal, sujeito às
    restrições definidas nestes termos e condições. Flash Soluções Tech, por
    meio deste, determina que o usuário do site não cometa as seguintes ações:
  </p>

  <ul>
    <li>
      Reproduzir, republicar, duplicar ou copiar qualquer conteúdo de Flash
      Soluções Tech;
    </li>
    <li>
      Vender, alugar, sublicenciar e ou de outra forma comercializar qualquer
      conteúdo de Flash Soluções Tech;
    </li>
    <li>
      Executar e/ou exibir publicamente qualquer conteúdo de Flash Soluções
      Tech;
    </li>
    <li>
      Usar este site de forma que seja, ou talvez, danifique e ou afete o acesso
      do usuário a este site;
    </li>
    <li>
      Usar este site contrário às regras, leis e regulamentos relevantes do seu
      pais de residència, ou de uma maneira que cause, ou possa causar, danos ao
      site ou a qualquer pessoa ou entidade comercial;
    </li>
    <li>
      Realizar mineração de dados ou qualquer outra atividade semelhante
      relacionada a este site, ou durante o uso deste site, e Usando este site
      para se envolver em qualquer forma de publicidade ou marketing
      empresarial.
    </li>
  </ul>
  <p>
    6. Areas especificas deste site podem ser restritas ao acesso do usuário, e
    Flash Soluções Tech pode estender ainda mais essa restrição a todo o site, a
    qualquer momento e a seu exclusivo critério. Qualquer identificação de
    usuário, chave de segurança ou senha que você possa ter neste site são
    confidenciais e você é responsável por manter a confidencialidade dessas
    informações.
  </p>

  <h2>Link e Hiperlink</h2>

  <p>
    7. Nos nos reservamos o direito de registrar solicitações para que você
    remova todos os links ou qualquer link especifico criado por você que
    redirecione para o nosso site, e você aprova a remoção imediata desses links
    para o nosso site, mediante solicitação.
  </p>

  <p>
    8. Podemos alterar os termos e condições desses direitos de vinculação a
    qualquer momento. Ao conectar-se continuamente ao nosso site, você concorda
    em se comprometer e seguir os termos desta politica de links
  </p>

  <p>
    9. Por favor, entre em contato conosco se encontrar algum link em nosso site
    que seja ofensivo, e poderemos considerar e analisar solicitações de remoção
    de tais links.
  </p>

  <h2>Links para conteudo de terceiros</h2>

  <p>
    10. Este site pode conter links para sites ou aplicativos operados por
    terceiros. Não controlamos nenhum desses sites ou aplicativos de terceiros
    ou o operador de terceiros. Este Site, objeto do presente Termos de Uso não
    é responsável e não endossa quaisquer sites on aplicativos de terceiros on
    sua disponibilidade ou conteúdo. Flash Soluções Tech não se responsabiliza
    pelos anúncios contidos no site. Você concorda em fazê-le por sua própria
    conta e risco ao adquirir quaisquer bens e/ou serviços de terceiros. O
    anunciante é quem permanece responsável por tais bens e ou serviços, e se
    você tiver alguma dúvida ou reclamação sobre eles, você deve entrar em
    contato com o anunciante
  </p>

  <h2>Conteúdo do usuario</h2>

  <p>
    11. Importante salientar que o termo usado "Conteúdo do Usuário" significa
    qualquer áudio, video, texto, imagens ou outro material ou conteúdo que você
    decida exibir neste Site. Com relação ao conteúdo do usuário, ao exibi-lo,
    você concede para Flash Soluções Tech uma licença não exclusiva, mundial,
    irrevogável, isenta de royalties e sublicenciável para usar, reproduzir,
    adaptar, publicar, traduzir e distribuir em qualquer midia.
  </p>

  <p>
    12. O Conteúdo do Usuário deve ser seu e não deve infringir os direitos de
    terceiros. Flash Soluções Tech reserva-se o direito de remover qualquer
    parte do seu conteúdo deste site a qualquer momento, sem aviso prévio. Flash
    Soluções Tech tem permissão para monitorar atividades no site e remover
    qualquer conteúdo do usuário considerado impróprio, ofensivo, contrário às
    leis e regulamentos aplicáveis, ou que cause uma violação destes Termos e
    Condições.
  </p>

  <app-footer />
</div>
