<nav>
    <div class="nav-logo-container">
      <img src="assets/img/logo.svg"  alt="Logo flash" width="100" height="100"/>
    </div>

    <div class="navbar-links-container">
        <a href="#">Home</a>
        <a href="#sobre">Sobre Nós</a>
        <a href="#work">Nosso Trabalho</a>
        <a href="#arg">Site</a>
    </div>
</nav>
<div class="container"  (click)="manageMenu()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<div class="dropdown">
  <div id="listdropdown" class="dropdown-content" (click)="manageMenu()" (blur)="manageMenu()">
    <a href="#">Home</a>
    <a href="#sobre">Sobre Nós</a>
    <a href="#work">Nosso Trabalho</a>
    <a href="#arg">Site</a>
  </div>
</div>
