<div class="work-section-wrapper">
    <div class="work-section-top">
      <p class="primary-subheading">Nosso Trabalho</p>
      <h1>Especialidades</h1>
      <p class="primary-text">
        Temos uma equipe de profissionais especializados esperando por você para colocar a mão na massa
        e te entregar a melhor solução que venha aumentar sua taxa de conversão de clientes
        e resultados de vendas pela internet.
      </p>
    </div>

    <div class="work-section-botton">
        @for(skill of skills; track skill) {
          <div class="work-section-info">
            <fa-icon class="info-boxes-img-container" [icon]=skill.image></fa-icon>
            <h2>{{skill.title}}</h2>
            <p>{{skill.text}}</p>
          </div>
        }
    </div>
  </div>
