<div class="app">
  <h1>Política de Privacidade</h1>
  <p>
    A Flash Solucões Tech valoriza a privacidade e a proteção dos dados de seus
    usuários. Esta Política de Privacidade descreve como coletamos, usamos e
    protegemos suas informações pessoais quando você visita nosso site
    https://flashsolucoestech.com.br, ao acessar e usar nosso site, você
    concorda com os termos descritos abaixo:
  </p>

  <h2>Coleta de Dados Pessoais</h2>

  <p>
    1. Ao acessar este Site, informações específicas sobre o Usuário, como
    endereços de protocolo de Internet (IP), navegação no site, software do
    usuário e tempo de navegação, juntamente com outras informações semelhantes,
    serão armazenadas nos servidores de Flash Soluções Tech As informações sobre
    suas identidades, como nome, endereço, detalhes de contato, informações de
    faturamento e outras informações armazenadas neste site, serão estritamente
    usadas apenas para fins estatisticos e não serão publicadas para acesso
    geral. Flash Soluções Tech, no entanto, não assume nenhuma responsabilidade
    pela segurança dessas informações.
  </p>

  <h2>Indenização</h2>
  <p>
    2. O usuário concorda em indenizar o Site e suas afiliadas em toda a
    extensão, frente à todas as ações, reclamações, responsabilidades, perdas,
    danos, custos, demandas e despesas decorrentes do uso deste Site pelo
    Usuário, incluindo, sem limitação, qualquer reclamação relacionada à
    violação de qualquer uma das disposições destes Termos e Condições. Se
    estiver insatisfeito com algum ou todo o conteúdo deste site ou qualquer uma
    parte dos seus Termos e Condições, o usuário pode interromper o uso deste
    site.
  </p>
  <p>
    3. Em qualquer momento, os usuários podem interromper o uso do Site para
    isso, no site, estão disponíveis as orientações necessárias. Caso ainda
    fique algum dúvida, não hesite em enviar um e-mail para
    barbosaandre337&#64;gmail.com
  </p>
  <p>
    4. Nós nos reservamos o direito e critério exclusivo de, e sem aviso prévio
    ou responsabilidade, negar o acesso e uso do site (incluindo o bloqueio de
    endereços IP especificos) a qualquer usuário por qualquer motivo, incluindo,
    mas não se limitando à violação de qualquer representação, garantia ou
    acordo nestes Termos ou em qualquer lei ou regulamento aplicável.
  </p>
  <h2>Disposições Gerais</h2>

  <p>
    5. Os Termos e Condições deste site serão regidos e interpretados de acordo
    com as leis do país ou estado em que o Site opera. Você, por meio deste, se
    submete incondicionalmente à jurisdição não exclusiva dos tribunais
    localizados no Brasil para a resolução de quaisquer disputas.
  </p>

  <p>
    6. Este Site reserva-se o direito de revisar estes Termos a qualquer momento
    conforme julgar adequado. Por isso é fundamental que os seus usuários
    estejam atentos à essas alterações.
  </p>

  <p>
    7. O Site reserva-se o direito de ceder, transferir e subcontratar seus
    direitos e ou obrigações sob este Acordo sem qualquer notificação ou
    consentimento prévio necessário. Os usuários não terão permissão para
    atribuir, transferu ou subcontratar qualquer um de seus direitos e ou
    obrigações sob estes Termos. Além disso, uma pessoa que não seja parte
    destes Termos e Condições não terá o direito de fazer cumprir qualquer
    disposição neles contida.
  </p>

  <p>
    8. Estes Termos e Condições, incluindo quaisquer avisos legais e isenções de
    responsabilidade neste site, constituem o acordo completo entre o Site e
    você em relação ao uso deste site. Em última análise, este acordo substitui
    todos os acordos e entendimentos anteriores relativos ao mesmo.
  </p>

  <p>
    9. Qualquer dúvida, entre em contato por meio do endereço de e-mail:
    barbosaandre337&#64;gmail.com
  </p>

  <p>Data da última atualização: 19 de dezembro de 2024</p>

  <app-footer />
</div>
